[submodule "exams"]
	path = exams
	url = git@github.com:JYMiracle305/test_repo.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:JYMiracle305/test_repo.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:JYMiracle305/learning-cxx.git
